/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Registration Form */
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.admin-front-register-page h1{font-size:38px;margin: 0 0 20px}
.admin-front-register-page h3{font-size:28px}
.admin-front-register-page h4{font-size:20px}
.admin-front-register-page p, .event-agenda-list li, .admin-front-register-page .registration-template .field-label{font-size:16px}
.admin-front-register-page .page-intro-content{margin:0 0 2em}
.admin-front-register-page .event-agenda{margin:0 0 2em}
.admin-front-register-page .event-agenda ul{margin:0}
.admin-front-register-page h3{padding:0;margin:0 0 20px}
.admin-front-register-page .row{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap}
.admin-front-register-page .row .col{padding:0 10px}
.admin-front-register-page .row .col.col-left{width:70%}
.admin-front-register-page .row .col.col-right{width:30%}
.admin-front-register-page .data-item-main{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin:0 0 1em}
.admin-front-register-page .data-item-main h4{margin:0 0 10px}
.admin-front-register-page .data-item-main p{margin:0 0 15px}
.admin-front-register-page .registration-template{background-color:#fff;padding:10px;margin-bottom:20px}
.admin-front-register-page .registration-template .field-label{margin-bottom:5px;display:block}
.admin-front-register-page .registration-template .field-wrap{background-color:transparent;margin:0 0 20px}
.admin-front-register-page .registration-template .field-wrap .field-container.ar-field{direction:rtl;text-align:right}
.admin-front-register-page .registration-template .field-wrap .field-container.ar-field input[type="email"], .admin-front-register-page .registration-template .field-wrap .field-container.ar-field input[type="url"],.admin-front-register-page .registration-template .field-wrap .field-container.ar-field input[type="text"]{direction:rtl;text-align:right}
.admin-front-register-page .registration-template .field-wrap input[type="mobile-number"]{-webkit-appearance:none;-moz-appearance:none;background:#fff;border-radius:0;border-style:solid;border-width:1px;-webkit-box-shadow:none;box-shadow:none;display:block;font-size:16px;letter-spacing:-0.015em;margin:0;max-width:100%;padding:1.5rem 1.8rem;}
.admin-front-register-page .registration-template .field-wrap input.form-control, .admin-front-register-page .registration-template .field-wrap input.form-input, .admin-front-register-page .registration-template .field-wrap input[type="text"], .admin-front-register-page .registration-template .field-wrap input[type="email"], .admin-front-register-page .registration-template .field-wrap input[type="mobile-number"]{padding:10px}
.admin-front-register-page .registration-template .field-wrap select{width:100%;padding:10px}
.admin-front-register-page .registration-template .field-wrap .radio-group{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
.admin-front-register-page .registration-template .field-wrap .radio-group .formbuilder-radio{margin-right:20px}
.admin-front-register-page .registration-template .field-wrap .field-container.ar-field .radio-group .formbuilder-radio{margin-right:0;margin-left:20px}
.admin-front-register-page .registration-template .field-wrap .radio-group .formbuilder-radio input{margin-top:0}
.admin-front-register-page .registration-template .field-wrap .radio-group .formbuilder-radio label{display:inline-block;margin:0}
.admin-front-register-page .registration-template .field-wrap .field-container .field-group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;width:100%}
.admin-front-register-page .registration-template .field-wrap .field-container .field-group .file-upload-wrap{padding:0 8px 0 0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}
.admin-front-register-page .registration-template .field-wrap .field-container.ar-field .field-group .file-upload-wrap{padding:0 0 0 8px}
.admin-front-register-page .registration-template .field-wrap .field-container .field-group .button-wrap{width:auto;text-align:right;position: relative;}
.admin-front-register-page .registration-template .field-wrap .field-container .field-group .button-wrap label{width:100%;display:inline-block;vertical-align:middle;margin:0}
.admin-front-register-page .registration-template .field-wrap .field-container.ar-field .field-group .button-wrap label{margin:0 7px 0 0}
.admin-front-register-page .registration-template .field-wrap .field-container .field-group .button-wrap input{padding:11px 15px;width:100%;font-size:16px}
.admin-front-register-page .registration-template .field-wrap .field-container .subscribe_now{vertical-align:middle;margin:0 7px 7px 0;}
.admin-front-register-page .registration-template .field-wrap .field-container .subscribe_now + span{display:inline;vertical-align:middle;}
.admin-front-register-page .registration-template .field-wrap .field-container.ar-field .subscribe_now{margin:0 0 7px 7px;}
.admin-front-register-page .registration-template .button-wrap{margin:0 auto;width:100%;text-align:left}
.admin-front-register-page .registration-template .button-wrap .button{text-decoration:none}

/*** Event Detail & Registration form **/
.admin-front-register-page.ar-wrap h1, .admin-front-register-page.ar-wrap h4, .admin-front-register-page.ar-wrap p, .admin-front-register-page.ar-wrap .registration-template .button-wrap, .admin-front-register-page.ar-wrap .data-item-main, .admin-front-register-page.ar-wrap h3{direction:rtl;text-align:right}
.medatory{color:#a40000!important}
span.error{color:red;font-size:14px}
.admin-front-register-page .registration-template .field-label .validate, .admin-front-register-page .registration-template .captcha-field .validate{color:green;float:right;font-size:13px;font-style:italic}
.admin-front-register-page .registration-template .field-label .not-validate, .admin-front-register-page .registration-template .captcha-field .not-validate{color:red;float:right;font-size:13px;font-style:italic}
.admin-front-register-page.ar-wrap .registration-template .field-label .validate, .admin-front-register-page.ar-wrap .registration-template .captcha-field .validate{color:green;float:left;font-size:13px;font-style:italic}
.admin-front-register-page.ar-wrap .registration-template .field-label .not-validate, .admin-front-register-page.ar-wrap .registration-template .captcha-field .not-validate{color:red;float:left;font-size:13px;font-style:italic}
.admin-front-register-page.ar-wrap .captcha-field{direction:rtl}
.google-captcha span.not-validate, .google-captcha span.validate{margin-top:-40px}
.admin-front-register-page .registration-template span.tool-tip{background:#9c9c9c;color:#fff;height:17px;width:17px;display:inline-block;text-align:center;border-radius:50%;vertical-align:middle;margin:0 5px;position:relative}
.admin-front-register-page .registration-template span.tool-tip[data-tip]::before{content:'';display:none;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #444;position:absolute;top:50%;left:130%;z-index:8;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%)}
.admin-front-register-page .registration-template span.tool-tip[data-tip]::after{display:none;content:attr(data-tip);position:absolute;top:50%;left:100%;width:200px;padding:5px 8px;background:#444;color:#fff;z-index:9;font-size:12px;line-height:18px;border-radius:3px;-webkit-transform:translate(5%, -50%);-ms-transform:translate(5%, -50%);transform:translate(5%, -50%)}
.admin-front-register-page .registration-template span.tool-tip[data-tip]:hover::before, .admin-front-register-page .registration-template span.tool-tip[data-tip]:hover::after{display:block}
.admin-front-register-page .registration-template span.tool-tip i{font-size:14px;line-height:20px;font-weight:700;margin-top:-1px;display:block;font-style:normal}
.admin-front-register-page .registration-template .field-container.ar-field span.tool-tip[data-tip]::before{border-right:0;border-left:5px solid #444;left:-100%}
.admin-front-register-page .registration-template .field-container.ar-field span.tool-tip[data-tip]::after{left:-100%;-webkit-transform:translate(-100%, -50%);-ms-transform:translate(-100%, -50%);transform:translate(-100%, -50%)}

/* loader */
body.is-loading::before{content:'';display:inline-block;width:80px;height:80px;position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);background-image:url(../images/spinner-2x.svg);z-index:99999}
body.is-loading::after{content:'';display:inline-block;width:100%;height:100%;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0, 0, 0, 0.058823529411764705);z-index:99999}
body.is-loading #adminmenuwrap{opacity:0.7}

/* Media Start */
@media screen and (max-width:991px){.admin-front-register-page .registration-template .field-wrap .field-container .field-group .file-upload-wrap{width:100%;margin-bottom:10px;padding:0}.admin-front-register-page .registration-template .field-wrap .field-container .field-group .button-wrap{text-align:left;margin:0 auto 0 0}.admin-front-register-page .registration-template .field-wrap .field-container .field-group .button-wrap label{margin:0 7px 0 0}.admin-front-register-page .registration-template .field-wrap .field-container .field-group .button-wrap input{font-size:1.2rem}.admin-front-register-page .registration-template .field-wrap .field-container.ar-field .field-group .file-upload-wrap{padding:0}.admin-front-register-page .registration-template .field-wrap .field-container.ar-field .field-group .button-wrap{text-align:right;margin:0 0 0 auto}.admin-front-register-page .registration-template .field-wrap .field-container.ar-field .field-group .button-wrap label{margin:0 0 0 7px}}
@media screen and (max-width:767px){.admin-front-register-page .row .col.col-left{width:100%}.admin-front-register-page .row .col.col-right{width:100%}.admin-front-register-page .registration-template .field-wrap .field-container .formbuilder-checkbox label{position:relative;display:inline-block}.admin-front-register-page .registration-template span.tool-tip{position:static}.admin-front-register-page .registration-template span.tool-tip[data-tip]::before,.admin-front-register-page .registration-template .field-container.ar-field span.tool-tip[data-tip]::before{top:25px;left:8px;-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);transform:translate(0, 0);border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #444;border-top:0;display:none}.admin-front-register-page .registration-template span.tool-tip[data-tip]:hover::before{display:none}.admin-front-register-page .registration-template span.tool-tip[data-tip]::after,.admin-front-register-page .registration-template .field-container.ar-field span.tool-tip[data-tip]::after{top:100%;left:0;-webkit-transform:translate(0, 10px);-ms-transform:translate(0, 10px);transform:translate(0, 10px);width:100%}}
@media screen and (max-width:480px){.admin-front-register-page .registration-template .field-wrap .captcha-field .g-recaptcha>div{-webkit-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8);margin-left:-30px}}

/* CPT diffmain_events single page */
.admin-front-register-page .event-title-wrp {
    display:flex;
    justify-content:space-between;-webkit-box-align:start;-ms-flex-align:start;
    align-items:flex-start;
    padding:0 5% 0 0;
}
.hero-scrollTo svg {
    margin-top: -38px;
}
.event-data-wrap .event-data-row {
    flex-wrap: nowrap;
}
.event-placeholder-ar-align {
    text-align: right;
}
/* End CPT diffmain_events single page */

/* Thank you page*/
.ar-wrap {direction:rtl;}
.ar-wrap input[type="checkbox"]:checked::before{left:0;}

.ar-wrap .thanks-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:60px;margin-top:30px}
.thanks-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:60px;margin-top:30px}

.ar-wrap .thank-you-left h2{font-size:28px;margin:20px 0 55px 0!important;position:relative;padding-right:80px;font-family: "NeoSans";}
.thank-you-left h2{font-size:28px;margin:20px 0 55px 0!important;position:relative;padding-left:80px}

.ar-wrap .thank-you-left h2:before{content:"";background:url(assets/images/accept.svg);width:60px;height:60px;display:inline-block;position:absolute;right:0;top:50%;margin-top:-30px;}
.thank-you-left h2:before{content:"";background:url(assets/images/accept.svg);width:60px;height:60px;display:inline-block;position:absolute;left:0;top:50%;margin-top:-30px}

@media screen and (max-width:979px){
	.ar-wrap .thank-you-left h2{margin:25px 0 20px 0!important;}
    .thank-you-left h2{margin:25px 0 20px 0!important;}
}
.thank-you-img img{max-width:100%;width:100%}
.thank-you-img{margin-bottom:55px}

.thank-you-left-content{padding-right:15px}

.thank-you-left-content h1{margin:0 0 35px 0}
.ar-wrap .thank-you-left-content h1{margin:0 0 35px 0;font-family: "NeoSans";}

.thank-you-left-content .sub-title{font-size:12px;text-transform:uppercase;font-family:'Roboto-Bold',sans-serif;margin-bottom:30px}

.ar-wrap .thank-you-left-content p{font-size:16px;font-family: "NeoSans"!important;}
.thank-you-left-content p{font-size:16px}
.thank-you-left-content p:last-child{margin-bottom:0}

.big_font{font-size:18px;line-height:1.5;}

.thank-you-right{width:41%;padding:0 30px 0 0;}

.thank-you-right-content h1{margin:30px 0;}

.thank-you-right-content h2{margin:30px 0;margin-top:0}

.thank-you-right-content{padding-top:80px}

.thanks-main{padding:30px 0;}

.thanks-main iframe{height:290px}

.thanks-row{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:20px;}

.thanks-row:last-child{margin-bottom:0;}

.ar-wrap  .thanks-row .thanks-col:first-child{width:92px;padding:0 0 0 10px;text-align:right;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;word-break:break-word;}
.thanks-row .thanks-col:first-child{width:92px;padding:0 3px 0 0;text-align:left;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;word-break:break-word;}

.ar-wrap .thanks-row .thanks-col:first-child i{margin:0 0 0 5px;width:20px;font-size:20px;text-align:center;}
.thanks-row .thanks-col:first-child i{margin:0 5px 0 0;width:20px;font-size:20px;text-align:center;}

.ar-wrap .thanks-row .thanks-col:last-child{width:70%;width:calc(100% - 100px);padding:0 20px 0 0;}
.thanks-row .thanks-col:last-child{width:70%;width:calc(100% - 100px);padding:0 0 0 20px;}

.ar-wrap .thanks-row .thanks-col p{margin:0 0 1em;font-family: "NeoSans";}
.thanks-row .thanks-col p{margin:0 0 1em;}

.thanks-row .thanks-col.map-wrap p{padding-top:0;}

.thanks-row .thanks-col p:last-child{margin:0;}

.thanks-row .thanks-col a{word-break:break-all;}

.thanks-col span.thank_you_detail{font-size:20px}

.ar-wrap .thanks-col span.thank_you_detail{font-size:20px;font-weight:bold;font-family: "NeoSans";}
.thanks-col span.thank_you_detail{font-size:20px;font-weight:bold;font-family:'NeoSansStd-Bold',sans-serif;}

.thanks-col p a::before{content:none;}

.thanks-col p a:hover{text-decoration:underline;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none;}
/* End Thank you page*/

/* Single Event page */
.file-upload-wrap .form-control{display: none;}






/* Dark Mode css */

/* General Elements */
.dark_mode input[type="text"],
.dark_mode input[type="password"],
.dark_mode input[type="email"],
.dark_mode input[type="url"],
.dark_mode input[type="date"],
.dark_mode input[type="month"],
.dark_mode input[type="time"],
.dark_mode input[type="datetime"],
.dark_mode input[type="datetime-local"],
.dark_mode input[type="week"],
.dark_mode input[type="number"],
.dark_mode input[type="search"],
.dark_mode input[type="tel"],
.dark_mode input[type="color"],
.dark_mode textarea{color:#000}
.dark_mode button:hover,
.dark_mode .button:hover,
.dark_mode .faux-button:hover,
.dark_mode .wp-block-button__link:hover,
.dark_mode .wp-block-file .wp-block-file__button:hover,
.dark_mode input[type="button"]:hover,
.dark_mode input[type="reset"]:hover,
.dark_mode input[type="submit"]:hover{background-color:rgba(255,255,255,0.3);}
body.dark_mode{background-color:#111;}
.dark_mode *{color:#fff;}
.dark_mode h1,
.dark_mode h2,
.dark_mode h3,
.dark_mode h4,
.dark_mode h5,
.dark_mode h6{color:#fff;}
.dark_mode p{color:#fff;}
.dark_mode a{color:#fff;}
.dark_mode ul,
.dark_mode ol,
.dark_mode li{color:#fff;}
.dark_mode cite{color:#fff;}
.dark-mode strong,
.dark-mode p,
.dark-mode b{color:#fff!important}
.dark_mode button,
.dark_mode .button,
.dark_mode .faux-button,
.dark_mode .wp-block-button__link,
.dark_mode .wp-block-file .wp-block-file__button,
.dark_mode input[type="button"],
.dark_mode input[type="reset"],
.dark_mode input[type="submit"]{color:#fff;border-color:#fff}

/* site header */
.dark_mode .site-header{background-color:#111;}
.dark_mode .header-action-buttons .view_darkmode{display:none;}
.dark_mode .header-action-buttons .view_lightmode{display:flex;}
.dark_mode .header-inner .site-branding{border-bottom-color:#fff;}
.dark_mode .header-inner .language-switcher a + a{border-left-color:#fff;}
.dark_mode .site-logo .logo-black{display:none;}
.dark_mode .site-logo .logo-white{display:block;}
.dark_mode .main-navigation ul li a{color:#fff;}
.dark_mode .header-action-buttons .search-icon svg{fill:#fff}
.dark_mode .header-search{background-color:#111}
.dark_mode .header-search input[type="search"]{border-left-color:#fff;background-color:#111;color:#fff}
.dark_mode .header-search input[type="search"]::placeholder{color:#fff}
.dark_mode .header-search .search-close{fill:#fff}

/* footer */
.site-footer ul li{border-color:#fff;}

/* arrow */
.dark_mode .hero-scrollTo{color:#000;background-color:#fff}
.dark_mode .hero-scrollTo svg,
.dark_mode .hero-scrollTo path{color:#000;fill:#000}

/* dark mode plugin */
.dark_mode .admin-front-register-page .registration-template{background-color:transparent;}
.dark_mode .admin-front-register-page .registration-template .field-wrap input[type="mobile-number"]{color:#000}
.dark_mode .admin-front-register-page .event-meta-data .e_date{color:#fff;}
.dark_mode .admin-front-register-page .data-item-main p{color:#fff;}

/* media css */
@media (max-width:1024px){
	.dark_mode .main-navigation{background:#111;}
	.dark_mode .menu-toggle .icon-bar{background-color:#fff;}
}

/*26-08-2020*/
.dark-mode .admin-front-register-page .registration-template{background-color:transparent;}
.dark-mode .admin-front-register-page .event-share-col a,
.dark-mode .admin-front-register-page .data-item-main p{color:#fff;}

/*06-10-2020*/
.dark-mode .event_registration_form_title_wrap #login-button{color:#111;border-color:#fff;padding:10px 30px!important;background:#fff;}
.dark-mode .event_registration_form_title_wrap #login-button:hover{background:rgba(51,51,51,.1);color:#fff;}









/* Admin front register page DEV */
.admin-front-register-page .registration-template .field-wrap input.form-control,
.admin-front-register-page .registration-template .field-wrap input.form-input,
.admin-front-register-page .registration-template .field-wrap input[type="text"],
.admin-front-register-page .registration-template .field-wrap input[type="email"],
.admin-front-register-page .registration-template .field-wrap input[type="mobile-number"]{font-family:'NeoSansStd-Regular',sans-serif;}
.admin-front-register-page{margin-bottom:50px;}
.admin-front-register-page .data-item-main h4{margin:0;}
.admin-front-register-page .data-item-main p{color:#000;}
.admin-front-register-page h1{font-size:48px;}
.admin-front-register-page .page-intro-content p{line-height:1.5}
.admin-front-register-page .event-placeholder-image{height:165px}
.admin-front-register-page .event-placeholder-image img{position:absolute;right:50px;top:0;/*max-width:25%;*/z-index:-1;}
.admin-front-register-page .sidebar{padding-left:10%}
.admin-front-register-page .event-title-wrp{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;padding:0 5% 0 0}
.admin-front-register-page .event-title-wrp .hero-scrollToIcon{margin:50px 20px;}
.admin-front-register-page .event-data-wrap{border-right:1px solid #ccc}
.admin-front-register-page .event-data-wrap .event_detail_image{margin-bottom:30px;width:100%}
.admin-front-register-page .event-meta-data span{display:block;font-size:14px;font-family:'Roboto-Bold',sans-serif;color:#000000;margin-bottom:20px;}
.admin-front-register-page .event-meta-data .e_date{color:#000000}
.admin-front-register-page .event-meta-data .e_time{color:#838383;margin-bottom:50px;}
.admin-front-register-page .event-share-col{width:200px;text-align:center;}
.admin-front-register-page .event-share-col h4{font-family:'Roboto-Bold',sans-serif;font-size:14px;}
.admin-front-register-page .row{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;}
.article-shareInner{position:-webkit-sticky;position:sticky;top:130px;}
.admin-front-register-page .event-share-col .social-icons{margin-left:0;padding-left:0;}
.admin-front-register-page .event-share-col .social-icons li{margin-bottom:20px;font-size:20px;}
.admin-front-register-page .event-share-col a{color:#000;}
.admin-front-register-page .event-data-col{width:calc(100% - 200px);}
.admin-front-register-page .registration-template{padding:0;}
.admin-front-register-page .admin-front-register-form{max-width:650px;padding-top:30px;border-top:1px solid #ccc}
.admin-front-register-page .admin-front-register-form h4{margin:0 0 20px}
.admin-front-register-page .admin-front-register-form .form-field-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.admin-front-register-page .admin-front-register-form .field-wrap{width:100%}
.admin-front-register-page .admin-front-register-form .field-wrap:nth-child(1){width:45%;}
.admin-front-register-page .admin-front-register-form .field-wrap:nth-child(2){width:45%;}
.registration-template .field-wrap .file-upload-wrap .file-upload{display:none;}
.admin-front-register-page .registration-template .field-wrap .field-container .subscribe_now + span{font-size:14px;}

/* fixes prev dev*/
.single-dffmain-events .site-main>.admin-front-register-page>.container{padding-top:50px;}



























/* -------------------------------------------------------------------------- */

/*	Fonts
/* -------------------------------------------------------------------------- */
@font-face{font-family:'Roboto-Black';src:url('webkit/Roboto-Black.eot?#iefix') format('embedded-opentype'),url('webkit/Roboto-Black.woff') format('woff'),url('webkit/Roboto-Black.ttf')  format('truetype'),url('webkit/Roboto-Black.svg#Roboto-Black') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Bold';src:url('webkit/Roboto-Bold.eot?#iefix') format('embedded-opentype'),url('webkit/Roboto-Bold.woff') format('woff'),url('webkit/Roboto-Bold.ttf')  format('truetype'),url('webkit/Roboto-Bold.svg#Roboto-Bold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Regular';src:url('webkit/Roboto-Regular.eot?#iefix') format('embedded-opentype'),url('webkit/Roboto-Regular.woff') format('woff'),url('webkit/Roboto-Regular.ttf')  format('truetype'),url('webkit/Roboto-Regular.svg#Roboto-Regular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'NeoSansStd-Regular';src:url('webkit/NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'),url('webkit/NeoSansStd-Regular.otf')  format('opentype'),url('webkit/NeoSansStd-Regular.woff') format('woff'),url('webkit/NeoSansStd-Regular.ttf')  format('truetype'),url('webkit/NeoSansStd-Regular.svg#NeoSansStd-Regular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'NeoSansStd-Medium';src:url('webkit/NeoSansStd-Medium.eot?#iefix') format('embedded-opentype'),url('webkit/NeoSansStd-Medium.otf')  format('opentype'),url('webkit/NeoSansStd-Medium.woff') format('woff'),url('webkit/NeoSansStd-Medium.ttf')  format('truetype'),url('webkit/NeoSansStd-Medium.svg#NeoSansStd-Medium') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'NeoSansStd-Bold';src:url('webkit/NeoSansStd-Bold.eot?#iefix') format('embedded-opentype'),url('webkit/NeoSansStd-Bold.woff') format('woff'),url('webkit/NeoSansStd-Bold.ttf')  format('truetype'),url('webkit/NeoSansStd-Bold.svg#NeoSansStd-Bold') format('svg');font-weight:normal;font-style:normal;}

/* -------------------------------------------------------------------------- */

/*	1. Document Setup
/* -------------------------------------------------------------------------- */

body{-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;font-family:'NeoSansStd-Regular',sans-serif;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;font-family:'NeoSansStd-Regular',sans-serif;}

/* Screen Reader Text ------------------------ */
.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important;word-break:normal;}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,0.6);box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto!important;-webkit-clip-path:none;clip-path:none;color:#21759b;display:block;font-size:0.875rem;font-weight:700;height:auto;right:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}

/* Inputs ------------------------------------ */
strong,
b{font-family:'NeoSansStd-Bold',sans-serif;color:#000;}
fieldset{border:0.2rem solid #dcd7ca;padding:2rem;}
legend{font-size:0.85em;font-weight:700;padding:0 1rem;}
label{display:block;font-size:16px;font-weight:400;margin:0 0 0.5rem 0;}
label.inline,
input[type="checkbox"] + label{display:inline;font-weight:400;margin-left:0.5rem;}
input[type="checkbox"]{-webkit-appearance:none;-moz-appearance:none;position:relative;top:2px;display:inline-block;margin:0;width:1.5rem;min-width:1.5rem;height:1.5rem;background:#fff;border-radius:0;border-style:solid;border-width:1px;border-color:#dcd7ca;-webkit-box-shadow:none;box-shadow:none;cursor:pointer;}
input[type="checkbox"]:checked::before{	/* Use the "Yes" SVG Dashicon */
content:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E");position:absolute;display:inline-block;margin:-0.1875rem 0 0 -0.3rem;height:1.75rem;width:1.75rem;}
input,
textarea,
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file__button{font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,sans-serif;line-height:100%;}
@supports (font-variation-settings:normal){
	input,
	textarea,
	button,
	.button,
	.faux-button,
	.faux-button.more-link,
	.wp-block-button__link,
	.wp-block-file__button{font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,sans-serif;}
}
input,
textarea{border-color:#dcd7ca;color:#000;}
code,
input[type="url"],
input[type="email"],
input[type="tel"]{direction:ltr;}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea{-webkit-appearance:none;-moz-appearance:none;background:#fff;border-radius:0;border-style:solid;border-width:1px;-webkit-box-shadow:none;box-shadow:none;display:block;font-size:16px;letter-spacing:-0.015em;margin:0;max-width:100%;padding:1rem 1.5rem;width:100%;font-family:'NeoSansStd-Regular',sans-serif;}
select{font-size:1em;}
textarea{height:12rem;line-height:100%;width:100%;}
input::-webkit-input-placeholder{line-height:100%;}
input:-ms-input-placeholder{line-height:100%;}
input::-moz-placeholder{line-height:revert; /* Reset to the value from the user-agent stylesheet. */}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none;}
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:none;-moz-appearance:none;background:transparent;border:1px solid #000;font-family:'Roboto-Black',sans-serif;border-radius:0;color:#000;cursor:pointer;display:inline-block;font-size:12px;font-weight:600;line-height:100%;margin:0;opacity:1;padding:1em 1.5em;text-align:center;text-decoration:none;text-transform:uppercase;-webkit-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;}
button:hover,
.button:hover,
.faux-button:hover,
.wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover{background-color:rgba(51,51,51,.1);}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus{border-color:#000;}
h1,
h2,
h3,
h4,
h5,
h6{color:#000;font-family:'NeoSansStd-Bold',sans-serif;}
h1{font-size:48px;}
h2{font-size:40px;}
h3{font-size:36px;}
h4{font-size:32px;}
h5{font-size:28px;}
h6{font-size:24px;}
a{display:inline-block;vertical-align:middle;color:#000;text-decoration:none;}
p{color:#333;font-size:16px;line-height:24px;font-family:'NeoSansStd-Regular',sans-serif;}
ul,
ol{list-style-type:none;margin:0;padding:0;}
ul.social-icons{list-style-type:none!important;}
.admin-front-register-page ul{list-style-type:disc;margin:0;padding:0 0 0 17px;}
.admin-front-register-page ol{list-style-type:decimal;margin:0;padding:0 0 0 17px;}
.admin-front-register-page ol li,
.admin-front-register-page ul li{margin-bottom:10px;}

/* Widget Base ------------------------------- */
.widget{margin-top:2rem;}
.widget:first-child{margin-top:0;}
.widget-content > div > *:first-child{margin-top:0;}
.widget-content > div > *:last-child{margin-bottom:0;}
.widget .widget-title{margin:0 0 1rem;}
.widget li{margin:1rem 0 0 0;}
.widget li:first-child,
.widget li > ul,
.widget li > ol{margin-top:0;}
.widget table,
.widget table *{border-color:#dedfdf;}
.widget table caption{background-color:#dedfdf;}
.widget .post-date,
.widget .rss-date{color:#6d6d6d;display:block;font-size:0.85em;font-weight:500;margin-top:0.2rem;}
.widget select{max-width:100%;}

/* Quotes ------------------------------------ */
blockquote{border-color:#b2b2b2;border-style:solid;border-width:0 0 0 0.2rem;color:inherit;margin:4rem 0;padding:0.5rem 0 0.5rem 2rem;}
cite{color:#000;font-size:1.4rem;font-style:normal;font-weight:600;}
blockquote cite{display:block;margin:2rem 0 0 0;}
blockquote p:last-child{margin:0;}

/* Code -------------------------------------- */
code,
kbd,
pre,
samp{font-family:monospace;font-size:0.9em;padding:0.4rem 0.6rem;}
code,
kbd,
samp{background:rgba(0,0,0,0.075);border-radius:0.2rem;}
pre{border:0.1rem solid #dcd7ca;line-height:100%;margin:4rem 0;overflow:auto;padding:3rem 2rem;text-align:left;}
pre code{background:transparent;padding:0;}

/* Media ------------------------------------- */
figure{display:block;margin:0;}
iframe{display:block;max-width:100%;}
video{display:block;}
svg,
img,
embed,
object{display:block;height:auto;max-width:100%;}
figcaption,
.wp-caption-text{color:#6d6d6d;display:block;font-size:1.5rem;font-weight:500;line-height:100%;margin-top:1.5rem;}
figcaption a,
.wp-caption-text a{color:inherit;}
blockquote.instagram-media,
iframe.instagram-media{margin:auto!important;}
.container{width:100%;max-width:1370px;padding:0 15px;margin:0 auto;}

/* arrow */
.hero-scrollToIcon{margin:10px;}
.hero-scrollTo{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:50px;height:50px;color:#fff!important;}

/* Site Header */
.site-header{position:fixed;top:0;left:0;width:100%;z-index:999;padding:0 50px;background-color:#fff;}
.site-header *{-webkit-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.admin-bar .site-header{top:32px;}
.header-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;padding:30px 0 0;border-bottom:1px solid #ccc;}
.header-inner .header-left{-ms-flex-wrap:nowrap;flex-wrap:nowrap;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:auto;}
.header-inner .site-branding{padding-bottom:30px;border-bottom:8px solid #333;margin-bottom:-9px;}
.header-inner .site-branding h1{margin:0;}
.header-inner .site-branding p{margin:0;}
.site-logo .logo-white{display:none;}
.site-logo img{height:40px;}
.header-inner .language-switcher{padding-bottom:30px;margin-left:30px;min-width:78px}
.header-inner .language-switcher a{font-family:'Roboto-Regular',sans-serif;font-size:12px;}
.header-inner .language-switcher a + a{border-left:1px solid #000;padding-left:10px;margin-left:10px;}
.header-inner .rts-link a{font-family:'Roboto-Regular',sans-serif;font-size:12px;margin-left:20px;padding-bottom:30px;}
.header-inner .rts-link a.toggle-ar{display:none;}
.header-inner .rts-link a i{font-size:16px;margin-right:5px;}
.header-inner .rts-link-mobile{display:none;}
.header-inner .header-right{-ms-flex-wrap:nowrap;flex-wrap:nowrap;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;}
.header-navigation{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;}
.main-navigation ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.main-navigation ul li{margin-left:30px;}
.main-navigation ul li:first-child{margin-left:0;}
.main-navigation ul li a{text-decoration:none;text-transform:uppercase;color:#000;padding:16px 0;font-family:'Roboto-Bold',sans-serif;font-size:13px;}
.main-navigation ul li.reach-us a{padding:15px 20px;border:1px solid #ccc;border-right-color:transparent;border-bottom-color:transparent;height:50px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.header-action-buttons{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.header-action-buttons a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:50px;height:50px;border:1px solid #ccc;border-bottom-color:transparent;}
.header-action-buttons .search-icon svg{width:20px;-webkit-transition:none;-o-transition:none;transition:none;}
.header-action-buttons .search-icon svg *{-webkit-transition:none;-o-transition:none;transition:none;}
.header-action-buttons .view_darkmode{background-color:#000;border-color:#000;}
.header-action-buttons .view_lightmode{background-color:#fff;border-color:#fff;display:none;}
.header-search{position:absolute;right:0;top:0;height:99%;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:#fff;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);z-index:2;padding:0 100px 0 16px;width:50%;}
.header-search label{width:96%}
.header-search input[type="search"]{padding:6px 15px;font-size:24px;border:0;border-left:1px solid #333}
.header-search .search-close{margin-left:15px;}
.search-active .header-search{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
.search-active .header-navigation,
.search-active .header-action-buttons{opacity:0;}
.site-header .menu-placeholder-img{display:none;}

/* header sticky */
.header-sticky .site-logo img{height:30px;}
.header-sticky .header-inner{padding:0;}
.header-sticky .header-inner .site-branding{padding:10px 0}
.header-sticky .header-inner .language-switcher{padding:10px 0;}
.header-sticky .header-inner .rts-link a{padding:10px 0;}

/* breadcrumbs */

/*.breadcrumbs{padding:10px 50px 30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:30px;}
.breadcrumbs li{margin-right:10px;position:relative;padding-right:30px;font-size:14px;}
.breadcrumbs li:after{content:"105";font-family:'fontawesome';position:absolute;right:5px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:20px;}
.breadcrumbs li:last-child:after{display:none;}*/
.breadcrumbs{display:none;-webkit-box-align:flex-end;-ms-flex-align:flex-end;align-items:flex-end;margin:20px 0 0;min-height:25px}
@media (min-width:47.5em){
	.breadcrumbs{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:25px;padding:0 50px!important}
}
.is-dark .breadcrumb{color:#fff;color:var(--color-primary)}
.breadcrumb,
.is-dark .breadcrumb{list-style:none;font-size:.875rem;line-height:18px}
.breadcrumb{color:#333;color:var(--color-primary)}
.breadcrumb+.breadcrumb{margin-left:10px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:start;}
.breadcrumb+.breadcrumba{font-family:Neo Sans Pro,Helvetica,Arial,sans-serif;}
.is-dark .breadcrumb+.breadcrumb:before{content:"›";display:inline-block;margin-right:10px;color:#fff;color:var(--color-primary)}
.breadcrumb+.breadcrumb:before{content:"›";display:inline-block;margin-right:10px;color:#333;color:var(--color-primary)}
.breadcrumbs li:first-child{align-self:center;}

/* flex containers */
.flex-row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -15px;}
.flex-col{width:50%;padding:0 15px;}
.flex-col.left-content{width:80%;}
.flex-col.right-sidebar{width:20%;}

/* site content */
.site-content{padding:30px 0;}
.single-dffmain-events .site-content{padding:30px 0 0;position:relative;}

/* Thank You Page */
.thanks-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:60px;margin-top:30px}
.thank-you-left{width:59%;padding:0;border-right:1px solid #ccc;}
.thanks-main{padding:30px 0;}
.thank-you-img img{max-width:100%;width:100%}
.thanks-row{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:20px;}
.thanks-row:last-child{margin-bottom:0;}
.thanks-row .thanks-col:first-child{width:92px;padding:0 3px 0 0;text-align:left;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;word-break:break-word;}
.thanks-row .thanks-col:first-child i{margin:0 5px 0 0;width:20px;font-size:20px;text-align:center;}
.thanks-row .thanks-col:last-child{width:70%;width:calc(100% - 100px);padding:0 0 0 20px;}
.thanks-row .thanks-col p{margin:0 0 1em;}
.thanks-row .thanks-col.map-wrap p{padding-top:0;}
.thanks-row .thanks-col p:last-child{margin:0;}
.thank-you-right{width:41%;padding:0 0 0 30px;}
.thank-you-right-content h1{margin:30px 0;}
.thank-you-right-content h2{margin:30px 0;margin-top:0}
.big_font{font-size:18px;line-height:1.5;}
.page-template-template-thank-you .site-content{padding-bottom:0;min-height:calc(100vh - 256px);}
.thank-you-left-content{padding-right:15px}
.thank-you-img{margin-bottom:55px}
.thank-you-left-content h1{margin:0 0 35px 0}
.thank-you-right-content{padding-top:80px}
.thank-you-left h2{font-size:28px;margin:20px 0 55px 0;position:relative;padding-left:80px}
.thanks-main iframe{height:290px}
.thank-you-left h2:before{content:"";background:url(assets/images/accept.svg);width:60px;height:60px;display:inline-block;position:absolute;left:0;top:50%;margin-top:-30px}
.thank-you-left-content .sub-title{font-size:12px;text-transform:uppercase;font-family:'Roboto-Bold',sans-serif;margin-bottom:30px}
.thank-you-left-content p{font-size:16px}
.thanks-col span.thank_you_detail{font-size:20px}
.thank-you-left-content p:last-child{margin-bottom:0}

/* Admin front register page  */
.admin-front-register-page .registration-template .field-wrap input.form-control,
.admin-front-register-page .registration-template .field-wrap input.form-input,
.admin-front-register-page .registration-template .field-wrap input[type="text"],
.admin-front-register-page .registration-template .field-wrap input[type="email"],
.admin-front-register-page .registration-template .field-wrap input[type="mobile-number"]{font-family:'NeoSansStd-Regular',sans-serif;}
.admin-front-register-page{margin-bottom:50px;}
.admin-front-register-page .data-item-main h4{margin:0;}
.admin-front-register-page .data-item-main p{color:#000;}
.admin-front-register-page h1{font-size:48px;}
.admin-front-register-page .page-intro-content p{line-height:1.5}
.admin-front-register-page .event-placeholder-image{height:165px}
.admin-front-register-page .event-placeholder-image img{position:absolute;right:50px;top:0;/*max-width:25%;*/z-index:-1;}
.admin-front-register-page .sidebar{padding-left:10%}
.admin-front-register-page .event-title-wrp{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;padding:0 5% 0 0}
.admin-front-register-page .event-title-wrp .hero-scrollToIcon{margin:50px 20px;}
.admin-front-register-page .event-data-wrap{border-right:1px solid #ccc}
.admin-front-register-page .event-data-wrap .event_detail_image{margin-bottom:30px;width:100%}
.admin-front-register-page .event-meta-data span{display:block;font-size:14px;font-family:'Roboto-Bold',sans-serif;color:#000000;margin-bottom:20px;}
.admin-front-register-page .event-meta-data .e_date{color:#000000}
.admin-front-register-page .event-meta-data .e_time{color:#838383;margin-bottom:50px;}
.admin-front-register-page .event-share-col{width:200px;text-align:center;}
.admin-front-register-page .event-share-col h4{font-family:'Roboto-Bold',sans-serif;font-size:14px;}
.admin-front-register-page .row{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;}
.article-shareInner{position:-webkit-sticky;position:sticky;top:130px;}
.admin-front-register-page .event-share-col .social-icons{margin-left:0;padding-left:0;}
.admin-front-register-page .event-share-col .social-icons li{margin-bottom:20px;font-size:20px;}
.admin-front-register-page .event-share-col a{color:#000;}
.admin-front-register-page .event-data-col{width:calc(100% - 200px);}
.admin-front-register-page .registration-template{padding:0;}
.admin-front-register-page .admin-front-register-form{max-width:650px;padding-top:30px;border-top:1px solid #ccc}
.admin-front-register-page .admin-front-register-form h4{margin:0 0 20px}
.admin-front-register-page .admin-front-register-form .form-field-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.admin-front-register-page .admin-front-register-form .field-wrap{width:100%}
.admin-front-register-page .admin-front-register-form .field-wrap:nth-child(1){width:45%;}
.admin-front-register-page .admin-front-register-form .field-wrap:nth-child(2){width:45%;}
.registration-template .field-wrap .file-upload-wrap .file-upload{display:none;}
.admin-front-register-page .registration-template .field-wrap .field-container .subscribe_now + span{font-size:14px;}

/* Site Footer */
.site-footer{background-color:#000;color:#fff;padding:45px 40px;}
.site-footer .flex-row{-webkit-box-align:center;-ms-flex-align:center;align-items:center;justify-content:space-between;margin:0;}
.site-footer h4{color:#fff;margin:0 0 20px;font-size:20px;}
.site-footer p{color:#fff;margin:5px 20px;font-size:12px;}
.site-footer a{color:#aaa!important;font-size:12px;letter-spacing:0.5px;line-height:15px}
.site-footer span{color:#aaa;}
.site-footer ul{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:0;padding-left:0;margin-top:0;flex-wrap:nowrap;}
.site-footer ul li{margin:5px 0;padding:0 15px;border-left:1px solid #aaa;line-height:0;}
.site-footer ul li:first-child{margin-left:0;padding-left:0;border-left:0;}

/*.site-footer .footer-col-left{width:40%;}
.site-footer .footer-col-right{width:60%}*/
.site-footer .footer-logo{max-width:260px;min-height:52.08px;}
.site-footer .footer-logo a{display:block;}
.site-footer .footer-col-right a{font-size:12px;font-family:'NeoSansArabic',sans-serif;}
.site-footer .flex-row.footer-widget-wrap{margin:0;flex-wrap:nowrap}
.site-footer .footer-widget-col{white-space:nowrap;}
.thanks-col span.thank_you_detail{font-size:20px;font-weight:bold;font-family:'NeoSansStd-Bold',sans-serif;}

/*26-08-2020*/
.single-dffmain-events .site-main>.admin-front-register-page>.container{padding-top:50px;}
.site-footer .flex-col{padding:0;width:auto}
.site-footer .footer-logo img{width:260px;}
.site-footer .menu-footer-menu-right-container>ul,
.site-footer .footer-col-right .flex-row.footer-widget-wrap{margin-top:3px;}
.site-footer p.footer-copyright{margin-left:6px;font-family:'NeoSansArabic',sans-serif;}
.site-footer .footer-widget-wrap .footer-widget-col>.menu-footer-menu-container{margin-left:15px;}
@media screen and (max-width:1400px){
	.site-footer .footer-widget-col{margin-right:0!important;}
}
@media screen and (max-width:1079px){
	.flex-col.footer-col-left{width:40%;}
}
@media screen and (max-width:991px){
	.article-shareInner li+li{margin-left:30px;}
}
@media screen and (max-width:960px){
	.flex-col.footer-col-left{width:100%;}
	.site-footer p{margin:15px 0;}
	.site-footer .flex-row.footer-widget-wrap{flex-direction:column;}
	.site-footer .flex-row{flex-direction:column;align-items:flex-start;}
	.site-footer ul li{margin:15px 0;padding:0 10px}
	.site-footer{padding:20px!important;}
	.site-footer p.footer-copyright,
	.site-footer .footer-widget-wrap .footer-widget-col:last-child>ul{margin-left:0;}
	.site-footer p.footer-copyright{line-height:1.3}
	.site-footer .menu-footer-menu-right-container>ul,
	.site-footer .footer-col-right .flex-row.footer-widget-wrap{margin-top:0;}
}
@media screen and (max-width:939px){
	.single-dffmain-events .site-main>.admin-front-register-page>.container{padding-top:20px;}
}
#wpadminbar span{color:#eee;}

/*07-09-2020*/
.admin-front-register-page .row .col.col-left{padding-left:0}
.admin-front-register-page .row .col.col-right{padding-right:0}
.admin-front-register-page .row .col.col-right p a::before,
.thanks-col p a::before{content:none;}
.admin-front-register-page .row .col.col-right p a:hover,
.thanks-col p a:hover{text-decoration:underline;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none;}
.admin-front-register-page .event-placeholder-image{height:145px;}
.admin-front-register-page .row .col.event-data-col{padding-left:0;}
.page-headActions .button.is-icon a{width:100%;height:100%;display:flex;align-items:center;justify-content:center;}
@media screen and (max-width:1440px){
	.page-template-template-thank-you .site-content .container{width:100%;padding:0 50px;max-width:100%;}
	.single-dffmain-events .site-main>.admin-front-register-page>.container{padding-left:50px;padding-right:50px;width:100%;max-width:100%;}
}
@media screen and (max-width:991px){.admin-front-register-page .row .col.col-left,
	.admin-front-register-page .event-title-wrp,
	.admin-front-register-page .row .col.event-data-col{padding-right:0}
	.admin-front-register-page .row .col.col-right{padding-left:0}
}
@media screen and (max-width:960px){
	.site-footer .footer-widget-wrap .footer-widget-col>.menu-footer-menu-container{margin-left:0;}
}
@media screen and (max-width:759px){
	.page-template-template-thank-you .site-content .container{padding:0 20px;}
	.single-dffmain-events .site-main>.admin-front-register-page>.container{padding-left:20px;padding-right:20px;}
}

/*08-09-2020*/
.menuButton-toggle{background:rgba(0,0,0,0)!important;}
.page-headActions .button.is-icon:nth-child(1) svg{width:auto!important;height:auto!important;}
.page-template-template-thank-you .site-content{margin-top:102px!important;}
@media screen and (max-width:1440px){
	.admin-front-register-page .event-placeholder-image img{right:50px!important;max-width:30%;}
}
@media screen and (max-width:1239px){
	.page-template-template-thank-you .site-content{margin-top:92px!important;}
}
@media screen and (max-width:991px){
	.admin-front-register-page .event-data-wrap .event_detail_image + .row{flex-direction:column-reverse;}
	.admin-front-register-page .event-share-col{padding-left:0!important;}
	.admin-front-register-page .event-share-col h4{margin-top:0;line-height:1}
	.admin-front-register-page .event-share-col h4::after{content:" : ";}
	.admin-front-register-page .event-share-col .social-icons{line-height:1}
	.admin-front-register-page .event-share-col .social-icons li{margin-bottom:0;margin-left:15px!important;}
	.article-shareInner{display:flex;align-items:center;}
	.admin-front-register-page .event-data-wrap .event_detail_image,
	.admin-front-register-page .event-agenda{margin-bottom:40px;}
	.admin-front-register-page .event-placeholder-image{height:0;}
}
@media screen and (max-width:960px){
	.site-footer .footer-logo a{margin-bottom:10px;display:inline-block;}
	.site-footer p{margin:10px 0;}
	.site-footer{padding-left:50px!important;padding-right:50px!important;}
	.page-template-template-thank-you .site-content{margin-top:86px!important;}
}
@media screen and (max-width:979px){
	.primaryNav{padding-top:20px!important;}
	.primaryNav li{margin-left:50px!important;margin-right:50px!important;}
}
@media screen and (max-width:767px){
	.site-footer .footer-widget-col{margin:0!important;}
	.site-footer .footer-col-left{margin-bottom:0!important;}
}
@media screen and (max-width:759px){
	.primaryNav li{margin-left:20px!important;margin-right:20px!important;}
	.site-footer{padding-left:20px!important;padding-right:20px!important;}
	.admin-front-register-page .event-placeholder-image img{right:20px!important;max-width:55%;}
	.page-template-template-thank-you .site-content{margin-top:74px!important;}
}
@media screen and (max-width:599px){
	.page-template-template-thank-you .site-content{margin-top:71px!important;}
}
@media screen and (max-width:1050px){
	.page-headReturnLink{max-width:none!important;}
}
html.nav-active .page-template-template-thank-you:before{display:block;height:100vh;width:100vw;position:fixed;top:0;left:0;background:rgba(0,0,0,.7);content:" ";pointer-events:none;z-index:200;}

/*New*/
.admin-front-register-page .event-share-col{width:184px;margin-left:auto;}
.thank-you-left h2{margin-top:0!important;}
.admin-front-register-page h1{line-height:1;}
.admin-front-register-page .registration-template{margin-bottom:10px;}
@media screen and (max-width:979px){
	.admin-front-register-page .event-title-wrp .hero-scrollToIcon{margin-top:20px;margin-bottom:20px;}
}

/*New2*/
.thanks-row .thanks-col a{word-break:break-all;}
.page-headActions .button.is-icon[data-toggle-darkmode]{width:51px!important;}
.page-headActions .button.is-icon[data-toggle-darkmode] svg{width:14.568px!important;height:auto!important;}
.dark-mode .page-headActions .button.is-icon[data-toggle-darkmode] svg{width:auto!important;height:auto!important;}
.admin-front-register-page .registration-template .button-wrap .button:hover{color:#333;}
.dark-mode .admin-front-register-page .registration-template .button-wrap .button:hover{color:#fff;}

/*14-09-2020*/
.admin-front-register-page .event-title-wrp{padding-bottom:50px;align-items:center;}
.admin-front-register-page h1{font-size:36px;line-height:1.25;margin-bottom:0;}
.admin-front-register-page .event-title-wrp .hero-scrollToIcon{margin-top:0;margin-bottom:0;}
.dark-mode .hero-scrollTo{color:#000!important;background-color:#fff;}
.dark-mode .admin-front-register-page .event-placeholder-image img{filter:brightness(0) invert(1);}
.site-footer .footer-logo svg {display: block;fill: #fff;fill: var(--color-footer-text);height: 50px;}

/*06-10-2020*/
.event_registration_form_title_wrap{display:flex;align-items:center;justify-content:space-between;margin-bottom:20px;}
.event_registration_form_title_wrap h4{margin-bottom:0!important;}
.event_registration_form_title_wrap #login-button{padding:12px 30px!important;background:#333;color:#fff;border-color:#333;line-height:1.5;font-family:Roboto,Helvetica,Arial,sans-serif;}
.event_registration_form_title_wrap #login-button:hover{background:rgba(51,51,51,.1);color:#333;}
button#login-button {
    display: none;
}
@media screen and (max-width:567px){
	.event_registration_form_title_wrap{flex-direction:column;align-items:flex-start;}
	.admin-front-register-page .admin-front-register-form h4{margin-bottom:20px!important;}
}